# These are additional requirements needed on top of the PyTorch image
pandas==0.25.0
# Use 2.2.1 to work around this issue:
# https://github.com/explosion/spacy-transformers/issues/105
# Can upgrade when this PR is merged:
# https://github.com/explosion/spacy-transformers/pull/120
spacy==2.2.1
spacy-transformers==0.5.1
# Resolve nested package version conflicts
sentencepiece==0.1.86
urllib3>=1.25.4,<1.27
requests==2.25.1

# We're using the PyTorch image with CUDA 10.1, but spaCy doesn't have an extra
# requirements specifier for CUDA 10.1 at the time of this writing (it only has 10.0).
# We could use the "cuda" extra requirements specifier, but it results in spaCy
# requiring the source distribution of cupy, which can't be compiled in a container
# without the NVIDIA runtime (which would require us to have separate images for GPU
# and no-GPU).  So, we manually install the spaCy GPU dependencies so we get
# wheels compatible with CUDA 10.1.
cupy-cuda101==7.0.0
thinc_gpu_ops==0.0.4
