**/.ipynb_checkpoints
**/__pycache__
*.py[cod]
**/build
**/dist

**/.tox
**/.eggs
**/gobbli.egg-info
**/.hypothesis
**/.mypy_cache
**/__pycache__
*.py[cod]
**/.test_cache

benchmark/benchmark_data/
benchmark/benchmark_meta/
benchmark/benchmark_gobbli/
