.ipynb_checkpoints/
__pycache__/
*.py[cod]
build/
dist/
docs/_build/
docs/auto/

.tox/
.eggs/
gobbli.egg-info/
.hypothesis/
.coverage
.mypy_cache/
.pytest_cache/
pip-wheel-metadata/

.test_cache/

benchmark/benchmark_data/
benchmark/benchmark_meta/
benchmark/benchmark_gobbli/