# Compose services for testing the various model containers
# GPU not enabled to prevent dependency on the NVIDIA docker runtime

version: "3.7"

services:
  bert:
    build:
      context: ./gobbli/model/bert

  mt-dnn:
    build:
      context: ./gobbli/model/mtdnn

  use:
    build:
      context: ./gobbli/model/use

  bert-maskedlm:
    build:
      context: ./gobbli/augment/bert

  transformer:
    build:
      context: ./gobbli/model/transformer
