flake8==3.7.7
mypy==0.720
pytest==4.5.0
ray[debug]==0.8.5
aiohttp==3.5.4
importmagic==0.1.7
epc==0.0.5
isort==4.3.20
isort[requirements]==4.3.20
black==19.3b0
setuptools==41.0.1
wheel==0.38.1
twine==1.13.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
